{% extends 'todo/main.html' %}

{% block title %}Add a New Category{% endblock %}

{% block content %}

    {% comment %} {% if user.is_authenticated %} {% endcomment %}

<div class="container w-75 my-4">
    <h4>Add a New Category</h4>
    <br>

    <div class="form-group w-50">
        <form method="POST">                
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary px-5 my-3">Add</button>                    
        </form>
    </div>        
</div>

    {% comment %} {% else %}

        <div class="container w-75 my-5">
            <h2>You are not logged in!</h2>
            <br>
            <a href="{% url 'login' %}">Login</a>                                
        </div>
        
    {% endif %} {% endcomment %}
    
{% endblock content %} 