{% extends 'todo/main.html' %}

{% block content %}

<div class="container-fluid">
    <div class="container mt-5 mx-auto">

        <table class="table table-hover">
            <thead>

                <tr class="table-secondary">
                    <th>Task</th>
                    <th>Priority</th>
                    <th>Category</th>
                    <th>Due</th>
                    <th>Owner</th>                                            
                </tr>

            </thead>

            <tbody>

            {% for task in object_list %}
                                    
                <tr>
                    <td><a class="fw-bold text-body text-decoration-none" href="{% url 'task_details' task.pk %}">{{ task.name }}</a></td>

                    {% if task.priority == 'Lowest' %}
                        <td class="fw-bold lowest">{{ task.priority }}</td>

                    {% elif task.priority == 'Low' %}
                        <td class="fw-bold low">{{ task.priority }}</td>

                    {% elif task.priority == 'Normal' %}
                        <td class="fw-bold normal ">{{ task.priority }}</td>

                    {% elif task.priority == 'High' %}
                        <td class="fw-bold high ">{{ task.priority }}</td>

                    {% elif task.priority == 'Highest' %}
                        <td class="fw-bold highest ">{{ task.priority }}</td>   

                    {% endif %}

                    <td>{{ task.category }}</td>
                    <td>{{ task.date_due }}</td>
                    <td>{{ task.author }}</td>
                </tr>
                
            {% endfor %}

            </tbody>
        </table>
        
    </div>
</div>            

{% endblock content %}