{% extends 'todo/main.html' %}

{% block content%}


<div class="container mx-auto mt-5">
    {% if user.is_authenticated %}
    <a href="{% url 'task_update' task.pk %}">Edit</a> | <a href="{% url 'task_delete' task.pk %}">Delete</a>
    {% endif %}

    <h3>{{ task.name }}</h3>
    <hr>
    <h4>Category: {{ task.category }} | Priority: {{ task.priority}} | Added by: {{ task.author }}</h4>
    <p>Created: {{ task.date_created }} | Due: {{ task.date_due }}</p>        
    <hr>
    <h5>{{ task.description }}</h5>

    <p>{{ task.details|linebreaks }}</p>
</div>


{% endblock content %}